@model Cibertec.Models.CabeceraCotizacion

<h3>Esta seguro que quiere eliminar este registro?</h3>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Cotizacion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cotizacion)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Evento)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Evento)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Asesor)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Asesor)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Monto)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Monto)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Descuento)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Descuento)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Fecha)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Fecha)
    </dd>

</dl>

@using (Ajax.BeginForm("Delete", new { Controller = "CabeceraCotizacion" },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "modal-body",
                    OnSuccess = "cabeceraCotizacions.success('delete');"
        //OnFailure = ""
    },
                htmlAttributes: new { id = "deleteForm" }
              )
)
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="Delete" class="btn btn-primary" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#deleteForm");
    });
</script>
