<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="description" content="RowReorder">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="~/Scripts/bootstrap.js" rel="stylesheet" />
    <link rel="stylesheet" media="screen, print" href="~/Content/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/app.bundle.css">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="~/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="~/Content/statistics/chartjs/chartjs.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/notifications/sweetalert2/sweetalert2.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/Site.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/Content/fa-solid.css">


</head>
<body class="mod-bg-1 ">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <style>
        .hidden {
            display: none;
        }
    </style>
    <div class="page-wrapper">
        <div class="page-inner">
            <!-- BEGIN Left Aside -->
            <aside class="page-sidebar">
                <div class="page-logo">
                    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center position-relative" data-toggle="modal" data-target="#modal-shortcut">
                        <img src="~/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                        <span class="page-logo-text mr-1">Proyect WebApp</span>
                        <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
                        <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                    </a>
                </div>
                <!-- BEGIN PRIMARY NAVIGATION -->
                <nav id="js-primary-nav" class="primary-nav" role="navigation">
                    <div class="nav-filter">
                        <div class="position-relative">
                            <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
                            <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                                <i class="fal fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="info-card">
                        <img src="~/img/demo/avatars/avatar-admin.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
                        <div class="info-card-text">
                            <a href="#" class="d-flex align-items-center text-white">
                                <span class="text-truncate text-truncate-sm d-inline-block">
                                    @Html.Partial("_User")
                                </span>
                            </a>
                            <span class="d-inline-block text-truncate text-truncate-sm">Lima, Perú</span>
                        </div>
                        <img src="~/img/card-backgrounds/cover-2-lg.png" class="cover" alt="cover">
                        <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
                            <i class="fal fa-angle-down"></i>
                        </a>
                    </div>
                    <ul id="js-nav-menu" class="nav-menu">
                        @Html.Partial("_Menu")
                        @Html.Partial("_LoginPartial")
                    </ul>
                    <div class="filter-message js-filter-message bg-success-600"></div>
                </nav>
            </aside>
            <div class="page-content-wrapper">
                <!-- BEGIN Page Header -->
                @RenderBody()
                <div class="page-content-overlay" data-action="toggle" data-class="mobile-nav-on"></div>
                <footer class="page-footer" role="contentinfo">
                    <div class="d-flex align-items-center flex-1 text-muted">
                        <span class="hidden-md-down fw-700">2020 © Proyecto</span>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    @Html.Partial("_ShortcutMenu")


    <script src="~/Scripts/statistics/sparkline/sparkline.bundle.js"></script>
    <script src="~/Scripts/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    @Scripts.Render("~/peity/jquery")
    <script type="text/javascript">
        /* Activate smart panels */
        $('#js-page-content').smartPanel();

    </script>
</body>
</html>
